body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  background-color: #aad3e6;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.total-spending {
  font-size: 25px; 
  text-align: right;
}

.trip-nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.trip-button {
  padding: 60px 100px;
  background-color: #fcc9b5;
  border: none;
  cursor: pointer;
  font-size: large;
}

.trip-button:hover {
  background-color: #f8b8d0; 
}

main {
  padding: 20px;
}

.estimated-cost {
  background-color: #cde4d0; 
  padding: 20px;
  margin-top: 20px;
}

.scroll-box {
  height: 200px;
  overflow-y: scroll;
  background-color: #d6eadf; 
  margin-top: 20px;
  padding: 10px;
}

/* ===Login Styling === */
.login-page {
  background-color: white; 
  border-radius: 10px;
  padding: 20px; 
  text-align: center; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  width: 100%;
  max-width: 400px; 
}

.login-page h1 {
  font-size: 70pt; 
  color: #009D73;
  margin-bottom: 1rem; 
}

.login-page h2 {
  color: #009D73;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-top: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #FCC9B5;
  border-radius: 5px; 
}

.login-form button {
  background-color: #009D73; 
  color: white; 
  padding: 10px;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  font-weight: bold; 
  margin-top: 1rem;
}

.login-form button:hover {
  background-color: #FCC9B5; 
}
/* ===Login Styling === */

.hidden {
  display: none;
}