body {
  font-family: Arial, sans-serif;
}

main {
  padding: 20px;
}

/* header {
  display: flex;
  background-color: #aad3e6;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
} */

header {
  display: flex;
  background-color: #aad3e6;
  padding: 20px;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between; 
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit{
  padding: 30px 60px;
  background-color: #fcc9b5;
}

.trip-nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.trip-button {
  padding: 30px 60px;
  background-color: #fcc9b5;
  border: none;
  cursor: pointer;
  font-size: medium;
}

.trip-button:hover {
  background-color: #f8b8d0; 
}

.trip {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.trip img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}

.trip-details {
  flex-grow: 1;
  font-weight: bold;
}

.trip-status {
  font-weight: bold;
}

.scroll-box {
  height: 300px;
  overflow-y: scroll;
  background-color: #d6eadf; 
  margin-top: 20px;
  padding: 10px;
}

.log-out {
  background-color: #f44336; /* Red */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  /* margin-left: auto; push to the right */
}

#bookNewTripBtn {
  padding: 10px 30px;
  background-color: #fcc9b5;
  border: none;
  cursor: pointer;
  font-size: medium;
}


.trip-card {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}


.message-container {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: none; /* Initially hidden */
}

.message-container.error-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  display: block; /* Show when there is a message */
}

.message-container.success-message {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  display: block; /* Show when there is a message */
}


.hidden {
  display: none;
}

.show {
  display: block; 
}